afasiaarchzine_crawler/*/*.jpg
afasiaarchzine_crawler/*/*.jpeg
afasiaarchzine_crawler/*/*.png
afasiaarchzine_crawler/*/*.gif
afasiaarchzine_crawler/*/*.bmp
afasiaarchzine_crawler/*/*.tif
afasiaarchzine_crawler/*/*.tiff